/* all common css Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "Montserrat", sans-serif; */
}

ul,
ol {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

/* all common css End */
/* header section style start */
.nav-link {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.nav-link:hover {
    color: #8A38EE;
    font-weight: 600;
}

.headerBtnOne {
    padding: 9px 25px;
    font-family: "Poppins", sans-serif;
}

.headerBtnTwo {
    padding: 9px 25px;
    font-family: "Poppins", sans-serif;
}

/* .hederBtn{
     background: url("../img/violateBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
/* header section style end */



/* banner section style start */
#bannerPart {
    padding: 0;
}

.bannerText h4 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-top: 97px;
    color: #212121;

}

.bannerText h4 i {
    color: #FFA600;
    font-size: 20px;
    padding-right: 15px;

}

.bannerText h1 {
    font-size: 64px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    line-height: 120%;
    margin-top: 60px;
    margin-bottom: 50px;
    color: #212121;

}

.bannerText p {
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    max-width: 449px;
    line-height: 120%;
    color: #5F5270;
    padding-bottom: 65px;
}

.bannerBtnSearch {
    background: #F5F5F5;
    max-width: 563px;
    border-radius: 37px;
}

.bannerBtnSearch a {

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 10px;
}

.bannerBtnSearch a:hover {
    background: #8A38EE;
    color: white;
    border-radius: 46px;

}

.createBg {
    top: 150px;
    left: 20px;
}

.designImg {
    top: 40px;
    right: 350px;
}

.mobileImg {
    bottom: 60px;
    right: 400px;
}

.jobImg {
    left: 250px;
    bottom: 150px;
}

.violateBg {
    left: 60px;
    bottom: 0;
    z-index: -1;
}

/* banner section style end */


/* counter section style start */
#counterPart {
    padding: 60px 0;
    font-family: "Poppins", sans-serif;
}


.counterLeft h4 {
    font-size: 20px;
    font-weight: 500;
    color: #212121;
    font-family: "Poppins", sans-serif;
}

.counterLeft h5 {
    padding: 60px 0;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;

}

.counterLeft h5 i {

    font-size: 15px;
    padding-right: 5px;

}

.avatarImg {
    display: flex;
    width: 192px;
    padding: 20px 0;
    position: relative;

}

.avatar {
    width: 63px;
    height: 63px;
    border-radius: 50%;

    position: absolute;


}



.avatarTwo {
    left: 40px;
}

.avatarThree {
    left: 80px;
}

.avatarFour {
    left: 120px;
}

.counterRight {
    display: flex;
    justify-content: space-evenly;
}

.counterRight .partOne {
    background: #F5F5F5;
    width: 175px;
    padding: 30px;
    border-radius: 10px;
}

.counterRight .partOne h3 {
    max-width: 115px;

    font-size: 40px;
    font-weight: 500;

}

.counterRight .partOne span {
    color: #8A38EE;


}

.counterRight .partOne h4 {
    font-size: 16px;
    font-weight: 400;
    color: #5F5270;
    max-width: 115px;
    padding-top: 10px;


}

.counterRight div h3 {
    font-size: 20px;
    font-weight: 500;
    max-width: 198px;
    color: #212121;
    line-height: 27px;
    padding-top: 10px;
}

.counterRight div p {
    font-size: 16px;
    font-weight: 500;
    color: #8A38EE;
    margin-top: 15px;
}

/* counter section style end */


/* company section style start */
#companyPart {
    padding: 100px 0;
    font-family: "Montserrat", sans-serif;
}

.companyText {

    text-align: center;
}

.companyText h2 {
    font-size: 48px;
    font-weight: 500;
    margin: 0 auto;
    max-width: 632px;
    line-height: 47px;
    padding-bottom: 30px;
}

.companyText h2 span {
    color: #8A38EE;
}

/* company section style end */


/* about section style start */
.aboutLeft h4 {
    font-size: 20px;
    font-weight: 500;
    color: #8A38EE;
    font-family: "Poppins", sans-serif;
}

.aboutLeft h3 {
    font-size: 48px;
    font-weight: 500;
    color: #212121;
    font-family: "Montserrat", sans-serif;
    line-height: 120%;
    margin-top: 5px;
    max-width: 616px;
}

.aboutRight h4 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.aboutRight p {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    font-family: "Poppins", sans-serif;
    color: #5F5270;
    max-width: 433px;
    line-height: 120%;
    padding-bottom: 64px;
}

.countFlex {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.count {
    max-height: 144px;
    max-width: 200px;
    background: #F5F5F5;
    padding: 30px;
    border-radius: 30px;

}

.count h3 {
    font-size: 40px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.count h3 span {
    color: #8A38EE;
}

.count h4 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #5F5270;
    padding-top: 10px;

}

.aSmall {
    padding-top: 50px;
}

.tracerBtn a {
    color: #fff;
    background: #8A38EE;
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-top: 65px;
}

.tracerBtn a i {
    padding-left: 20px;
}

.aboutRight {
    padding-left: 40px;
}

.abcRight {
    padding-left: 40px;
}

/* about section style end */

/* header section style start */
#latestJobPart {
    padding: 50px 0;
}

.latestJobTitle h3 {
    font-size: 48px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

.latestJobTitle h3 span {
    color: #8A38EE;
}

.latestJobTypes {
    padding: 20px 0;
}

.latestJobItemsFlex {
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 15px;
    border-radius: 25px;
}

.latestJobItem {
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #5F5270;
    padding: 4px 17px;
    border-radius: 20px;

    transition: .7s;
}

.latestJobItem:hover {
    background: #8A38EE;
    color: #fff;
}

.allListJobs {
    padding: 20px 0;
}

.jobItem {
    border: 1px solid #B683F5;
    /* padding: 28px; */
    border-radius: 15px;
}
.jobItemPart{
    padding: 28px;
    
}

.jobItemPart:hover{
    background: linear-gradient(90deg, #8A38EE 0%, #B683F5 100%);
    color: #fff;
    
}

.jobItemTopFlex {
    display: flex;
    justify-content: space-between;
}

.jobItemTopFlex div h3 {
    font-size: 32px;
    font-weight: 600;
    color: #212121;
    font-family: "Poppins", sans-serif;
    line-height: 120%;
}

.jobItemTopFlex div p {
    font-size: 16px;
    font-style: italic;
    color: #5F5270;
    font-family: "Poppins", sans-serif;
    margin-top: 6px;
    margin-bottom: 22px;
}

.officeOnsiteFlex {
    display: flex;
    align-items: center;

}

.time {
    background: #F5F5F5;
    font-size: 16px;
    color: #5F5270;
    font-family: "Poppins", sans-serif;
    padding: 5px 10px;
    border-radius: 20px;
}

.durationFlex {
    display: flex;
    align-items: center;
    padding-top: 39px;
    padding-bottom: 14px;
    column-gap: 15px;

}

.durationOne {
    font-size: 16px;
    color: #5F5270;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}

.durationTwo {


    height: 6px;
    width: 6px;
    background: #5F5270;
    border-radius: 50%;
}

.durationThree {
    font-size: 16px;
    color: #5F5270;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}

.applyFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.applyFlex div a {
    background: #8A38EE;
    border-radius: 25px;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.applyFlex div {
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #5F5270;
}

.applyFlex div span {

    color: #8A38EE;
}

.jobItemBottom {
    border-top: 1px dashed #B683F5;
    padding: 10px 28px;
    

}

.jobItemBottomFlex {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 10px 0;
}

.jobItemBottom div img {
    height: 46px;
    width: 46px;
    border-radius: 50%;
}

.avatarDescription h4 {
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #212121;
}

.avatarDescription h5 {
     font-size: 16px;
    font-weight: 400;
    font-style: italic;
    font-family: "Poppins", sans-serif;
    padding: 5px 0;
}
.avatarDescription h5  i{

    padding-right: 10px;

}
.showJobBtn{
    text-align: center;
    padding-top: 50px;
}
.showJobBtn a{
    background: #8A38EE;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    
}
.showJobBtn a i{
    padding-left: 20px;
    
}

/* header section style end */


/* ffq section style start */
#ffqPart{
    padding: 50px 0;
}
.card{
    padding: 24px;
    border-radius: 25px;
    
}
.cardImg{
    margin: 0 auto;
}
.card div img{
    width: 576px;
}
.progressOne h4{
    font-size: 20px;
    font-weight: 400;
    color: #212121;
    font-family: "Poppins", sans-serif;
    padding: 20px 0;
}
 .blueC{
    height: 11px;
    background: #00B2FF;
    width: 75%;
     border-radius: 9px;
}
.progressOneContent{
  
 /* border: 1px solid hotpink; */
}
.progressItem{
    max-width: 481px;
    height: 11px;
    background: #F5F5F5;
    border-radius: 9px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid rebeccapurple; */
    
}

.redC{
    height: 11px;
    background: #FF0004;
    width: 98%;
     border-radius: 9px;
}
.orangeC{
    height: 11px;
    background: #FFA600;
    width: 93%;
     border-radius: 9px;
}
.percentSenvety{
    font-size: 20px;
    font-weight: 600;
    color: #212121;
    font-family: "poppins",sans-serif;
}
.ffqTitle h3{
    max-width: 518px;
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
    color: #212121;
    font-family: "Montserrat", sans-serif;

}
.sCard{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 31px;
    border-radius: 24px;
   
    margin-bottom: 24px;

}
.sCard h4{
    font-size: 20px;
    font-weight: 600;
    color: #212121;
    font-family: "Poppins", sans-serif;
}
.sCardContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sCardContent p{
    max-width: 369px;
    color: #5F5270;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding: 16px 0;
}
.arrow{
    margin-top: 172px;
    padding-left: 40px;
}
.arrow img{
    padding-bottom: 15px;
}

/* ffq section style end */


/* header section style start */
/* header section style end */
/* header section style start */
/* header section style end */